* {
  text-align: center;
  background-color: rgb(70, 67, 67);
  color: white;
}

.invisivel {
  display: none;
}
.visivel {
  display: inline;
  background-color: rgb(255, 255, 99);
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.inicial {
  text-align: center;
  font-size: 100px;
  background-color: lightgrey;
  width: 150px;
  height: 200px;
  border: 15px solid green;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
}
.acertou {
  text-align: center;
  color: yellow;
  background-color: rgb(99, 255, 159);
  width: 150px;
  height: 200px;
  border: 15px solid yellow;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
}
.errou {
  text-align: center;
  font-size: 100px;
  color: white;
  background-color: red;
  width: 150px;
  height: 200px;
  border: 15px solid black;
  padding: 10px;
  margin: 20px;
  border-radius: 15px;
}

.butão {
  background-color: rgb(99, 255, 159);
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
